<nav class="navbar navbar-expand-lg navbar-light bg-custom "> <!--  -->
    <img [src]="imagen" class="img-fluid" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <!--  -->
      <span class="navbar-toggler-icon"></span> <!--  -->
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"> <!--  -->
      <ul class="navbar-nav ml-auto">
        <img [src]="imagen2" class="img-fluid" alt="Logo" style="cursor: pointer;" > 
        &nbsp;
        <img [src]="imagen3" class="img-fluid" alt="buscarmenu" style="cursor: pointer;" >
        &nbsp;
      </ul>
  </div>
</nav>
    <div class="container mt-4">
        <img [src]="imagen4" class="img-fluid" alt="Logo">
        <span class="text-home"> Home /</span>
        &nbsp; 
        <span class="Lorem">Lorem ipsum dolor sit amet</span>
    </div>
  
<div class="container mt-4">
  <div class="image-container mt-4">
      <img src="https://s3-alpha-sig.figma.com/img/db07/c45d/4a14d3a97d9dd3a70807ef3d359286c8?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=cih-tbP2kR7VsoRo-IInZiHUw9qR003UU151f8jWezdrsMgKHCFYAhuYz-zDnWW9cYRpeMEeo6MTcZ6MI5N1w~-cQYQ5bsC7amhOXjzuETX9PTO2vEO3uukXT-fISQpmKrcNYstk45C9GEI5FHN7qmeCTZ9kgZM~AhB9eTeQDPASN9hwsWt4GX6~KSyGEaalEefDhmzxklQfaWkz1vl7DeEczOW0N1PubTMf~aGUoG7gYgAMBZiY4toK0n4wANyCr67ltXr2Nqcy74Sf4mKSrSwSUEms~oAYDP2sdjH7uImbP9UAMAeooroXp4wd7Mi3MPECPQGIbf0lzYcyjHZ11A__" class="img-fluid" alt="Sample Image">
      <div class="centered-content">
          <div class="centered-text">Lorem ipsum dolor sit amet</div>
          <div class="centered-text">Consectetur Adipiscing Elit Posuere</div>
          <div class="centered-text">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam,
             himenaeos eros nunc.</div>
      <button mat-raised-button color="primary" class="mr-2">Click Here ↗️</button>
      </div>
  </div>
</div>

<div class="centered-text">Aenean facilisis, enim eu bibendum sagittis</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--  -->
    <div class="image-container-home">
        <div class="image-container">
            <img src="https://s3-alpha-sig.figma.com/img/9183/5df2/a3f430219716116b0016d304c0ff8c9f?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Spdp04ACA6mB-RNoe9qr8USG7el4DxYv9o14b26Gu1mOttMZRJ5MPOUUMX8C4Z84t0hiyLXBP8aElHUxtrBv5LERUxS7OBqugj1slR0H3prnN8wOwwgWfQBovMC3Bj9UO1MzUIomvymOX4Yo0WeY9K~Xwn3Mojt7JtNNBqBGHfNpkJvxgUTWIYhEPe5Cn3fPKGZCk3LdiDkcML7PQVaCdYVgAFHtDNmjX52wfPqfNfc5MICRwTg8CMBAOAbFHjP0-kkXfnsqApFCf6bwjGO~qv3qiQNO0KG9V99Q5lQKtwgWSCeEulfx8I7Blk4mDz6dCUkhjrQwOwz8SiiayDMCeQ__" alt="Imagen 1" class="background-image" />
            <img src="https://s3-alpha-sig.figma.com/img/f373/07ff/61c1b02170876adf56bf22eb942223b7?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mP5rsKCRMypap2I~LnWi7xjzEgyscpa0HkCpJay01xu8g3Y57oGSh1CzE8Ckk5xUTGYYXkRdM8Wm7ek3ODzICdFwZEGzhCMJ8x~xKj2I5Tk65OwEtwLnx-XWbSWHwroLqB1eD5DQ5h5xNXU6PcW-vE0pgFrZVgN0es97yuXFEvRA9z7f-zpOYr9GFJCKzThRDVKok9GAAk54eGhdmAqoEhcohj6MKHt~nUdAoAw8g8qaDhTgQ1ruxVNEYbN1mZ9VPPpUFB2H3JXjVRI7sNB4Vm~FoX0g~HkUGf76vszFRMuoN2dIqyn1Q3zRVbz~WCBQiCHnR3aMcgCCEkLMBo0QsQ__" alt="Imagen 2" class="background-image" />
            <img src="https://s3-alpha-sig.figma.com/img/c97c/767c/d06a5d58bf320df18998d384b15eee82?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fBXYhI5QQWcZ1o2oHSwuv1EHMyibjIssoCgiecRjeUKmdvP0DyF5V~Gnpo~kNb-BeKCp9IB8kt~yx9OZI4IKxVCzfCld3gCKduH2plVaVLdvz3Wqf0R77r5HhMmXXB7~N5L1cKWy66eKEhXon5zbsAmBhBttskzxfg9lt4J803z-XZBWKAgs3Pv6bzeLKJ-nUfVh-EPO-5axggrPZKTjs14y-tzLHeijYWFyo7Cgs09pvRdK1KFiVA9228hFmAvQne8pu8QYTtFoMKSmA39hsAfeCX6idK7Y3C8D~8v6LMWox0X1u8xfn8VnlvSnHJhziqq9Ubuud6O~3KBgsW8MvA__" alt="Imagen 3" class="background-image" />
            <div class="color-box red"></div>
            <div class="color-box blue"></div>
            <div class="color-box green"></div>
        </div>
    </div>
</nav>

<nav>
    <div class="main-container-green">
        <div class="text-container">
            <p>🎓</p>
            <p>Texto en el primer contenedor</p>
            <button mat-raised-button color="primary" class="mr-2">Click Here ↗️</button>
        </div>
        <div class="text-container">
            <p>🎈</p>
            <p>Texto en el segundo contenedor</p>
            <button mat-raised-button color="primary" class="mr-2">Click Here ↗️</button>
        </div>
    </div>
</nav>

<nav>
    <div class="container mt-4">
        <div class="image-container mt-4">
            <img src="https://s3-alpha-sig.figma.com/img/803d/bba9/cbba05e802a8be0d34d5e889daf6f539?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=rnMY2DyBD2RpWk0jNGKCOsJQ40H5yKZ0kWADnxCHv6fXWmHBQ2yDNS4Y4wKnik4H9JCYFFn7YyuY07D98yRpiuhhZY7xddK~KLDtZDjBCvGE-DRvC1lSycGenF0oyVebt34tg~dsWv1bWGFpqmpe2ozJGWMZ~tKLDKEvT06DiLDbCFW94W0t4vvt9xtv0dU-mlznszX3rzRWiGHcCyt~LKJr167ZDHSuuCyZfp~LcZ1HJOd01mTjSMTtyvTgWYfGX5qtlaQkAZGvfneb9xOvtJOAIWV3TGzN8TF94kJ~ppx1-6JMGghApZFSIPzfwRAaDHO6vSeW68UMYH-U6lD82w__" alt="Imagen 4" class="background-image-rejas" />
            <div class="centered-content">
                <div class="centered-text">Lorem ipsum:<br>dolor sit amet consectetur adipiscing </div>
                <div class="centered-text">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum nullam.</div>
                <button mat-raised-button color="primary" class="mr-2">Click Here ↗️</button>
            </div>
        </div>
      </div>
</nav>

<nav>
    <p>Lorem ipsum dolor sit amet</p>
    <p>La mejor oportunidad que tienes para actualizar tus conocimientos.</p>
    <img src="https://s3-alpha-sig.figma.com/img/a45b/d3c0/d34506ad40c052f48491f50c803effff?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Tc52t6lx9bj84tA~Y2Fs7IE895Cs3oUtso9BX3DhNfeFuLk~z8SPQdZ-opSCiyg7Wjk9lE8ON5pT-PslzVgy0sVkAGgr2CKVFoAwGr8HR0P08F4ewDZuoZePkIHyzClJGBasNPU0sAsL5zrdqRoi99KT3wtMAB6J8jN4HQjsPQLtoFkaKDLU-MPXzR34JJMNzRqvky0bYOV7miaKnsvXeNRGDbPJ0XdEYd1WxbI-v3qbiCFSIpfgKY2CBlNQVZEUSx13cOnEoJbVysC9JL3vxD~bHIfzgCPZuq0GT1WT5tRPGdsvVGwcpsKR8e~7tE7L1gzpc5q3nlzoauLSApf2AA__" alt="Imagen 4" class="background-image-rejas" />
</nav>

<nav>
    <p>🥬</p>
    <p>Sed accumsan erat id scelerisque sodales</p>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat. </p>

    <p>👨‍🦲</p>
    <p>Sed accumsan erat id scelerisque sodales</p>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat. </p>

    <p>🏆</p>
    <p>Sed accumsan erat id scelerisque sodales</p>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat. </p>

    <p>👪</p>
    <p>Sed accumsan erat id scelerisque sodales</p>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat. </p>

</nav>

<nav>
    <p>Lorem ipsum dolor sit amet</p>
    <p>Mauris vulputate </p>
    <p>lorem sed lacus </p>
    <p>lacus efficitur</p>
    <img src="https://s3-alpha-sig.figma.com/img/ed03/52d5/9b71ef8cf7dd55873c71b761e9e91d81?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=NRUzKk79WmD90-Q0sBmZvvTS0LJDQRFduLoJUwEFJgOyRhziIAEFTIWKgB1nooXm4jdsvDhRjhZgzqdr6rOQLQQi0IwAG48QHvskQYHPhp~SdV63KFCSRC0k84861zHz61YnQDTNgmTtYQIXL3d3EPiBEk8MuwZNCwIODkPXUAamO2yjCLexnCs~w84vuTxc3BDe2EKX96FHnZzWe5oWVnGyiNEpe8DCSrs7Wyz~4JylIpHarvfsw2WPVP2y3FAZ~dbeVc6sCKGjcTRq5~1X30cpa0gVtf~VSpiWN4uCdnTU4RR5MUhZZActTFpr6niNE-xmk5zogJi4756y1wusfQ__"alt="Imagen 5" class="background-image-civil"/>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.<br>
       Nulla at nulla mattis, placerat arcu ut, ornare libero. Etiam sit amet urna efficitur, auctor magna nec, pellentesque magna. Ut at libero et risus convallis facilisis.</p>
</nav>

<nav>
     <p>Lorem ipsum dolor sit amet</p>

   <div>
     <p>¿Lorem ipsum dolor sit amet consectetur adipiscing? ⬇️</p>
   </div>

   <div>
     <p>¿Elit posuere blandit quam himenaeos eros nunc? ⬆️</p>
     <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan placerat metus condimentum eget hendrerit ut convallis, curabitur facilisis vulputate taciti nunc nam. Netus cras pellentesque urna eu aenean sem mattis felis, sodales libero in molestie massa sapien est magnis habitant, himenaeos mauris imperdiet et laoreet tempus conubia.</p>
   </div>

    <div>
      <p>¿Tempus nisi volutpat integer odio vel? ⬇️</p>
    </div>

    <div>
        <p>¿Dapibus vitae taciti mus metus tincidunt eu vestibulum? ⬇️</p>
    </div>

    <div>
        <p>¿Maecenas pharetra purus id lacus bibendum sollicitudin? ⬇️</p>
    </div>
</nav>

<nav>
    <p>Lorem ipsum dolor sit amet</p>
    <p>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</p>
    <img src="https://s3-alpha-sig.figma.com/img/e0eb/6894/921d10baf285715ec4260cd867c33ce2?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=iiLUnS8ystdipsIUmJXzyfGtI6HHKpFzju8~afyueNFBzEY-JKt~KtFFK6cqCfRHQJWm0GLiBsiWNnkDFIYyJexGiHHQt~YmIcukQGx-MoWidX7Ncuv1HtxjOeb9LWEmdhIqSNRb59LiEWqcRSYOdjrnE9-i4ZLBUl3ivPi9d2ejMMaz~AUFxSWChfopE19okuMJAXBBeFNWbbgMePmqTuBN6ZxzJ3xsdqF-9DxgOkd64Zb8V~0hiNVKzLxwtCaFkoQe19iDVGP6YY6aEDkYi5Azg830n93nxPjBSDp-GV5N~eaUjYqUnsgxPRmAw5LRNlp8tYMvdVIVXQDDG0YPow__" alt="Imagen 6" class="background-image-estudiante"/>
</nav>

<div class="container mt-4">
    <form>
        <div class="form-group">
            <label for="documentType">Tipo de Documento</label>
            <select class="form-control" id="documentType">
                <option>Cédula de Ciudadanía</option>
                <option>Tarjeta de Identidad</option>
                <option>Cédula de Extranjería</option>
                <option>Pasaporte</option>
            </select>
        </div>
        <div class="form-group">
            <label for="documentNumber">Tipo de Documento *</label>
            <input type="text" class="form-control" id="documentNumber" placeholder="Selecciona el tipo de tu documento...">
        </div>
        <div class="form-group">
            <label for="fullName">Número de documento *</label>
            <input type="number" class="form-control" id="fullName" placeholder="Ingresa tu numero de documento...">
        </div>
        <div class="form-group">
            <label for="fullName">Nombre completo *</label>
            <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu numero de documento...">
        </div>
        <div class="form-group">
            <label for="email">Correo electrónico *</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu nombre completo...">
        </div>
        <div class="form-group">
            <label for="phoneNumber"> Número de Celular *</label>
            <input type="tel" class="form-control" id="phoneNumber" placeholder="+57 000 000 000">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="termsCheck">
            <label class="form-check-label" for="termsCheck">Al enviar, aceptas los Términos y condiciones y la Política de manejo de datos.</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Click Here ↗️</button>
    </form>
</div>

<footer class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Logo</h5>
                <p>
                    Cras sem odio, malesuada id diam id, tempus accumsan turpis.
                </p>
                <p>
                    Follow us
                </p>
                <div>
                    <a href="#" class="mr-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-tiktok"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <p><i class="fab fa-whatsapp"></i> WhatsApp: +57 312 345 6789</p>
                <p><i class="fas fa-phone"></i> Phone: 01 8000 12 34 56</p>
                <p><i class="fas fa-envelope"></i> contactlogoipsum.co</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Legal</h5>
                <p>Terms y Conditions </p>
                <p>Data Policy</p>
                <p>Cookies Policy</p>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        Logo Ipsum - Todos los derechos reservados.
        <p>Maecenas ex augue, ullamcorper in libero fringilla, pretium faucibus nisi. Aenean maximus sagittis ipsum, at sagittis risus vulputate et. Cras sem odio, malesuada id diam id, tempus accumsan turpis. </p>
    </div>
</footer>
