<nav class="navbar navbar-expand-lg navbar-light bg-custom "> <!--  -->
    <img [src]="imagen" class="img-fluid" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <!--  -->
        <span class="navbar-toggler-icon"></span> <!---->
        </button>
    <div class="collapse navbar-collapse" id="navbarNav"> <!--  -->
      <ul class="navbar-nav ml-auto">
        <img [src]="imagen2" class="img-fluid" alt="Logo" style="cursor: pointer;" > 
        &nbsp;
        <img [src]="imagen3" class="img-fluid" alt="buscarmenu" style="cursor: pointer;" >
        &nbsp;
      </ul>
    </div>
</nav>

    <div class="container mt-4 home">
        <img [src]="imagen4" class="img-fluid" alt="Logo">
        <span class="text-home"> Home /</span>
        &nbsp; 
        <span class="Lorem">Lorem ipsum dolor sit amet</span>
    </div>

    <div class="gradient-overlay"> 
        <img src="https://s3-alpha-sig.figma.com/img/db07/c45d/4a14d3a97d9dd3a70807ef3d359286c8?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=cih-tbP2kR7VsoRo-IInZiHUw9qR003UU151f8jWezdrsMgKHCFYAhuYz-zDnWW9cYRpeMEeo6MTcZ6MI5N1w~-cQYQ5bsC7amhOXjzuETX9PTO2vEO3uukXT-fISQpmKrcNYstk45C9GEI5FHN7qmeCTZ9kgZM~AhB9eTeQDPASN9hwsWt4GX6~KSyGEaalEefDhmzxklQfaWkz1vl7DeEczOW0N1PubTMf~aGUoG7gYgAMBZiY4toK0n4wANyCr67ltXr2Nqcy74Sf4mKSrSwSUEms~oAYDP2sdjH7uImbP9UAMAeooroXp4wd7Mi3MPECPQGIbf0lzYcyjHZ11A__" alt="Sample Image" class="img-fluid" />
        <div class="centered-content">
            <div class="centered-text-one">Lorem ipsum dolor sit amet</div>
            <div class="centered-text-two">Consectetur Adipiscing <br> <span class="centered-text-two-paragraph">Elit Posuere</span></div>
            <div class="centered-text-descripitive">Lorem ipsum dolor sit amet consectetur adipiscing elit <br> <span class="centered-text-descripitive-paragraph">posuere blandit quam, himenaeos eros nunc</span></div>
            <button mat-raised-button color="primary" class="mr-2">Click Here ↗️</button>
        </div>
    </div>

    <div class="centered-text-secondsection">Aenean facilisis, enim eu bibendum sagittis</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light secondsectiontextintro">
        <div class="image-container-home">
            <div class="image-container">
                <img src="https://s3-alpha-sig.figma.com/img/c97c/767c/d06a5d58bf320df18998d384b15eee82?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=iO1oS0uPkkSplfRFU-1udCY2lW7KIsPYzkCx-rgqkj75M-PlyLM82wFTvcLdUOtrcY7atHyVUdhakJ9tzUFt3~IQ1k4Efa2bp5DrD380MCUDUPbYS9XwiJBdwvlWmJNpFKFjDph7uflnLTTcNXv1pSz3xEPbqjbGOhccAhCtOGQeRGusMP-0Q87y-Rn7CsBEkxnEjBo6NAb~K7lpQWJMbl8KgChpj3k1x1nQqrL3pMoosMj-KAPQgZ6pKH2PsTzpmHc60ioBbyWFcKQcHfF9RK4YWk8qivBdxg1rUtC8OXGeSm-9c3Kvzc2O3YR2MY2Ws-u8craRC2ZSsJZMmsOPEQ__" alt="Imagen 1" class="background-image" /> 
                <div class="color-box box-sobreposition">
                    <div class="color-box text-sobreposition">
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Consectetur adipiscing elit...</p>
                        <button mat-raised-button color="primary" class="mr-2-section">Click Here ↗️</button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="https://s3-alpha-sig.figma.com/img/f373/07ff/61c1b02170876adf56bf22eb942223b7?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=KEwJ6IXHiPJvSJ7NjL72HC-IrFFVW5QCPHibyl2wgscr8bgxSl22M4tBVzKzKROdglAmMVZrnhgPK9DoK08Hj~0NSUT8gS8N2y0dyyN3KF7-93rfwF9i2vEqWHnY3U08AdyqksYhsfn52H3ahgnMoXSsngaLlHF-OJbUJDmMTM3hV41mL16TB8ji7YmB9kwxIZ2T1wxjeJw0WRATcUaupHaY9JbHO3ltTAJicE5xSfvaJn7yMKJ9nQCek5otXF2rlvZEwE0Yb~waF02YYYo4NfG63Muw1Utk~PoGxe9KNWXntq17-wpk-fkE7VaoGboR7E3kMVoG8cEwsaci2CuQsg__" alt="Imagen 2" class="background-image"/>
                <div class="color-box box-sobreposition">
                    <div class="color-box text-sobreposition">
                        <p class="letrablackfooter">Lorem ipsum dolor sit amet</p>
                        <p class="letrablackfooter">Consectetur adipiscing elit...</p>
                        <button mat-raised-button color="primary" class="mr-2-section">Click Here ↗️</button>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="https://s3-alpha-sig.figma.com/img/c97c/767c/d06a5d58bf320df18998d384b15eee82?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=iO1oS0uPkkSplfRFU-1udCY2lW7KIsPYzkCx-rgqkj75M-PlyLM82wFTvcLdUOtrcY7atHyVUdhakJ9tzUFt3~IQ1k4Efa2bp5DrD380MCUDUPbYS9XwiJBdwvlWmJNpFKFjDph7uflnLTTcNXv1pSz3xEPbqjbGOhccAhCtOGQeRGusMP-0Q87y-Rn7CsBEkxnEjBo6NAb~K7lpQWJMbl8KgChpj3k1x1nQqrL3pMoosMj-KAPQgZ6pKH2PsTzpmHc60ioBbyWFcKQcHfF9RK4YWk8qivBdxg1rUtC8OXGeSm-9c3Kvzc2O3YR2MY2Ws-u8craRC2ZSsJZMmsOPEQ__" alt="Imagen 3" class="background-image"/>
                <div class="color-box box-sobreposition">
                    <div class="color-box text-sobreposition">
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Consectetur adipiscing elit...</p>
                        <button mat-raised-button color="primary" class="mr-2-section">Click Here ↗️</button>
                    </div>
                </div>
            </div>
        </div>
</nav>

<nav>
    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>Fuceut massa non tellus rhoncus viverra eu in dui </h1>
        </div>
        <div class="text-container-one">
            <img src="../assets/logogrado.png" class="img-fluid-icongreen" alt="Logogrado">
            <p class="letrablackfooter">Lorem ipsum</p>
            <p class="letrablackfooter">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum.</p>
            <button mat-raised-button color="primary" class="mr-2-section-two-button">↗️ Click Here </button>
        </div>
        <div class="text-container-two">
            <img src="../assets/logoglobo.png" class="img-fluid-icongreen" alt="Logoglobo">
            <p class="letrablackfooter">Lorem ipsum</p>
            <p class="letrablackfooter">Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum.</p>
            <button mat-raised-button color="primary" class="mr-2-section-two-button">↗️ Click Here </button>
        </div>
    </div>
</nav>

<nav>
    <div class="nav-image">
        <img src="https://s3-alpha-sig.figma.com/img/803d/bba9/cbba05e802a8be0d34d5e889daf6f539?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=rnMY2DyBD2RpWk0jNGKCOsJQ40H5yKZ0kWADnxCHv6fXWmHBQ2yDNS4Y4wKnik4H9JCYFFn7YyuY07D98yRpiuhhZY7xddK~KLDtZDjBCvGE-DRvC1lSycGenF0oyVebt34tg~dsWv1bWGFpqmpe2ozJGWMZ~tKLDKEvT06DiLDbCFW94W0t4vvt9xtv0dU-mlznszX3rzRWiGHcCyt~LKJr167ZDHSuuCyZfp~LcZ1HJOd01mTjSMTtyvTgWYfGX5qtlaQkAZGvfneb9xOvtJOAIWV3TGzN8TF94kJ~ppx1-6JMGghApZFSIPzfwRAaDHO6vSeW68UMYH-U6lD82w__" alt="Imagen 6" class="background-image-rejas" />
        <div class="nav-text"><p class="letrawhiterejas">Lorem ipsum:<br>dolor sit amet consectetur adipiscing <br> Lorem ipsum dolor sit amet consectetur adipiscing elit posuere blandit quam, himenaeos eros nunc tempus nisi volutpat integer odio vel, dapibus vitae taciti mus metus tincidunt eu vestibulum nullam.</p> 
        <button mat-raised-button color="primary" class="mr-2-section-blue-button-rejas">↗️ Click Here </button>
        </div>
    </div>
</nav>

<nav>
    <div class="main-container-white">
        <div class="parrafobrcontainerwhite">
            <h1 class="letrablue"> Lorem ipsum <br> dolor sit amet </h1>
            <p class="parrafosectioncivil"> La mejor oportunidad que tienes para actualizar <br> conocimientos. </p>
            <img src="https://s3-alpha-sig.figma.com/img/a45b/d3c0/d34506ad40c052f48491f50c803effff?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Tc52t6lx9bj84tA~Y2Fs7IE895Cs3oUtso9BX3DhNfeFuLk~z8SPQdZ-opSCiyg7Wjk9lE8ON5pT-PslzVgy0sVkAGgr2CKVFoAwGr8HR0P08F4ewDZuoZePkIHyzClJGBasNPU0sAsL5zrdqRoi99KT3wtMAB6J8jN4HQjsPQLtoFkaKDLU-MPXzR34JJMNzRqvky0bYOV7miaKnsvXeNRGDbPJ0XdEYd1WxbI-v3qbiCFSIpfgKY2CBlNQVZEUSx13cOnEoJbVysC9JL3vxD~bHIfzgCPZuq0GT1WT5tRPGdsvVGwcpsKR8e~7tE7L1gzpc5q3nlzoauLSApf2AA__" alt="Imagen 7" class="background-image-civil" />
        </div>
        
        <div class="parrafobrcontainerwhitetwo">

            <div class="containericonocivil1">
                <img [src]="imagen5" class="iconocivil1" alt="iconocivil1">
                <h1 class="letrablue"> Sed accumsan erat id scelerisque sodales</h1>
                <p class="parrafosectioncivil"> Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</p>
            </div> 

            <hr class="separador">

            <div class="containericonocivil2">
                <img [src]="imagen6" class="iconocivil2" alt="iconocivil2">
                <h1 class="letrablue"> Sed accumsan erat id scelerisque sodales</h1>
                <p class="parrafosectioncivil"> Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</p>
            </div> 

            <hr class="separador">

            <div class="containericonocivil3">
                <img [src]="imagen7" class="iconocivil3" alt="iconocivil3">
                <h1 class="letrablue"> Sed accumsan erat id scelerisque sodales</h1>
                <p class="parrafosectioncivil"> Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</p>
            </div> 

            <hr class="separador">

            <div class="containericonocivil4">
                <img [src]="imagen8" class="iconocivil4" alt="iconocivil4">
                <h1 class="letrablue"> Sed accumsan erat id scelerisque sodales</h1>
                <p class="parrafosectioncivil"> Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</p>
            </div> 

            <hr class="separador">

        </div>
    </div>
</nav>

<nav>
    <div class="main-container-white">
        <div class="parrafobrcontainerwhite">
            <h1 class="letrablackfooter"> Lorem ipsum <br> dolor sit amet </h1>
        </div>
        
        <div class="parrafobrcontainerwhitetwo">
            <div class="containericonocivil1">
                <p class="letrablackfooter">Mauris vulputate </p>
                <p class="letrablackfooter">lorem sed lacus </p>
                <p class="letrablackfooter">lacus efficitur</p>
                <img src="https://s3-alpha-sig.figma.com/img/ed03/52d5/9b71ef8cf7dd55873c71b761e9e91d81?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ubrkJU7M3O~-K9wnae-Tstzc0CmNnA4VazDJcMwL52GQ7oaxn0C6JTwiMPcD922k0CLHEzlTXzWTwmsyPC1GJbCbf7~4f5IYXDjswNoHTBxNQ4puaq3vouPnpNMC01SsXCilY3k6B-rX1v9tJ3Me875hqS5CJFt1AeqYh7jNJz1Gl0mRtJaSPOX576wpIMnP94AcCfKwAuG4RunHxFHJnP03lbvfz-zltZIDp8iGajdjngmBU1ptT~T8E81Sr1XBpkgWzAp5ouFi6UWB2NE1dArqNMF7w0F0IiuOLfwn1QGA49C3zXVDN~kBYiQcuZKULNa~35c32yNSKjVjSGc4mg__"alt="Imagen 9" class="background-image-civil"/>
                <p class="letrablackfooter">Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.<br>
                
                Nulla at nulla mattis, placerat arcu ut, ornare libero. Etiam sit amet urna efficitur, auctor magna nec, pellentesque magna. Ut at libero et risus convallis facilisis.</p>
            </div>       
        </div>
    </div>
</nav>

<nav>
    <h1 class="letrablackfooter">Lorem ipsum dolor sit amet</h1>
    
    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>¿Lorem ipsum dolor sit amet consectetur adipiscing? ⬇️</h1>
        </div>
    </div>

    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>¿Elit posuere blandit quam himenaeos eros nunc? ⬆️</h1>
        </div>
    </div>

    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit, accumsan placerat metus condimentum eget hendrerit ut convallis, curabitur facilisis vulputate taciti nunc nam. Netus cras pellentesque urna eu aenean sem mattis felis, sodales libero in molestie massa sapien est magnis habitant, himenaeos mauris imperdiet et laoreet tempus conubia. </h1>
        </div>
    </div>

    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>¿Tempus nisi volutpat integer odio vel? ⬇️</h1>
        </div>
    </div>

    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>¿Dapibus vitae taciti mus metus tincidunt eu vestibulum? ⬇️</h1>
        </div>
    </div>

    <div class="main-container-green">
        <div class="parrafobrcontainergreen">
            <h1>¿Maecenas pharetra purus id lacus bibendum sollicitudin? ⬇️</h1>
        </div>
    </div>

</nav>

<nav>
    <div class="main-container-white">
        <div class="parrafobrcontainerwhite">
            <h1 class="letrablue">Lorem ipsum dolor sit amet</h1>
            <h1 class="letrablackfooter"><br>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor consequat.</h1>
            <img [src]="imagen17" class="img-fluid" alt="Logofacebook">
            <img src="https://s3-alpha-sig.figma.com/img/e0eb/6894/921d10baf285715ec4260cd867c33ce2?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=iiLUnS8ystdipsIUmJXzyfGtI6HHKpFzju8~afyueNFBzEY-JKt~KtFFK6cqCfRHQJWm0GLiBsiWNnkDFIYyJexGiHHQt~YmIcukQGx-MoWidX7Ncuv1HtxjOeb9LWEmdhIqSNRb59LiEWqcRSYOdjrnE9-i4ZLBUl3ivPi9d2ejMMaz~AUFxSWChfopE19okuMJAXBBeFNWbbgMePmqTuBN6ZxzJ3xsdqF-9DxgOkd64Zb8V~0hiNVKzLxwtCaFkoQe19iDVGP6YY6aEDkYi5Azg830n93nxPjBSDp-GV5N~eaUjYqUnsgxPRmAw5LRNlp8tYMvdVIVXQDDG0YPow__" alt="Imagen 6" class="background-image-estudiante"/>
        </div>
        
        <div class="parrafobrcontainerwhitetwo">
            <div class="containericonocivil1">
                <div class="container mt-4">
                    <form>
                        <div class="form-group">
                            <label for="documentType">Tipo de Documento</label>
                            <select class="form-control" id="documentType" >
                                <option>Cédula de Ciudadanía</option>
                                <option>Tarjeta de Identidad</option>
                                <option>Cédula de Extranjería</option>
                                <option>Pasaporte</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fullName">Numero de documento *</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu numero de documento...">
                        </div>
                        <div class="form-group">
                            <label for="fullName">Nombre completo *</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Ingresa tu nombre completo...">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico *</label>
                            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico...">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber"> Número de Celular *</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="+57 000 000 000">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="termsCheck">
                            <label class="form-check-label" for="termsCheck">Al enviar, aceptas los Términos y condiciones y la Política de manejo de datos.</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 mr-2-section-blue-button" style="background-color: #47E6C4; color: #103056">Click Here ↗️</button>
                    </form>
                </div>  
            </div> 

            <hr class="separador">

        </div>
    </div>
    
 

  
</nav>


<footer class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4 footer">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <img [src]="imagen" class="img-logo-white" alt="Logo">
                <p class="letrawhitefooter">
                    Cras sem odio, malesuada id diam id, tempus accumsan turpis.
                </p>
                <p class="letrawhitefooter">
                    Follow us
                </p>
                <div>
                    <a href="#" class="mr-2"><i class="fab fa-facebook-f">
                    <img [src]="imagen9" class="img-fluid" alt="Logofacebook"></i></a>

                    <a href="#" class="mr-2"><i class="tiktok">
                    <img [src]="imagen10" class="img-fluid" alt="Logofacebook"></i></a>

                    <a href="#" class="mr-2"><i class="insta">
                    <img [src]="imagen11" class="img-fluid" alt="Logofacebook"></i></a>

                    <a href="#" class="mr-2"><i class="youtube">
                    <img [src]="imagen12" class="img-fluid" alt="Logofacebook"></i></a>

                    <a href="#" class="mr-2"><i class="linkedin">
                    <img [src]="imagen13" class="img-fluid" alt="Logofacebook"></i></a>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="letrawhitefooter" >Contact Us</h5>
                <img [src]="imagen14" class="img-fluid" alt="iconowhatsapp">
                <p class="letrawhitefooter"><i class="fab fa-whatsapp"></i> WhatsApp: +57 312 345 6789</p>
                <img [src]="imagen15" class="img-fluid" alt="iconotel">
                <p class="letrawhitefooter"><i class="fas fa-phone"></i> Phone: 01 8000 12 34 56</p>
                <img [src]="imagen11" class="img-fluid" alt="Logofacebook">

                <p class="letrawhitefooter"><i class="fas fa-envelope"></i> contactaarobalogoipsum.co</p> 
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 mayus">
                <h5 class="letrawhitefooter">Legal</h5>
                <p class="letrawhitefooter">Terms y Conditions </p>
                <p class="letrawhitefooter">Data Policy</p>
                <p class="letrawhitefooter">Cookies Policy</p>
            </div>
        </div>
    </div>

    <div class="main-container-white">
        <div class="parrafobrcontainerwhite">
            <h5 class="letrablackfooter" >Logo Ipsum - Todos los derechos reservados.</h5>
        </div>
        
        <div class="parrafobrcontainerwhitetwo">
            <p class="letrablackfooter"> Maecenas ex augue, ullamcorper in libero fringilla, pretium faucibus nisi. Aenean maximus sagittis ipsum, at sagittis risus vulputate et. Cras sem odio, malesuada id diam id, tempus accumsan 
        </div>
    </div>

</footer>
