/* You can add global styles to this file, and also import other style files */
/* Estilos CSS */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
    margin-left: 5%;
}

.text-home{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant: small-caps;
        color: #757575;
}

.Lorem{
    text-decoration: underline;
        color: #103056;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        font-variant: small-caps;
}
.bg-custom{
    background-color: #47e6c4; 
    padding: 16px;
}

.gradient-overlay {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
    margin-top: 2%;
    border-radius: 2%;
    width: 100%; /* Ajusta el ancho de la imagen */
}

.gradient-overlay img {
    display: block; /* Elimina el espacio en la parte inferior de la imagen */
    border-radius: 2%;
    width: 100%; /* Ajusta el ancho de la imagen */
}

.gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(315deg, rgba(16, 48, 86, 0) 0%, rgba(16, 48, 86, 1) 74%);
    pointer-events: none; /* Permite que los clics pasen a la imagen */
}

.centered-content {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color del texto según sea necesario */
    text-align: center; /* Centra el texto */
    z-index: 1; /* Coloca el texto sobre la imagen */
}

.centered-text-one, .centered-text-two, .centered-text-two-paragraph{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: whitesmoke;
    text-transform: uppercase;
}

.centered-text-one{
    margin-right: 25%;
    margin-bottom: 2%;
}


.centered-text-two{
margin-right: 37%;
margin-bottom: 2%;
}

.centered-text-two-paragraph{
    margin-right: 46%;
    margin-bottom: 2%;
}

.centered-text-descripitive{
    
    margin-bottom: 4%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.centered-text-descripitive-paragraph{
    margin-bottom: 4%;
    margin-right: 17%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.mr-2{
    width: 100%;
    color: #103056;
    height: 20%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-left: 4%;  
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%; 
}

.mr-2-section{
width: 100%;
height: 20%;
padding-top: 2%;
padding-right: 4%;
padding-bottom: 2%;
padding-left: 4%;
color: #E5E5E5;
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
}

.mr-2-section-two-button{
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-left: 4%;
    color: #E5E5E5;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    background-color: #103056;
    }

    .mr-2-section-three-button{
    width: 100%;
    color: #103056;
    height: 20%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-left: 4%;
    margin-top: 4%;
    color: #E5E5E5;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
   }

   .mr-2-section-blue-button{
    width: 100%;
    color: #103056;
    height: 20%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-left: 4%;
    margin-top: 4%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    background-color: #47E6C4;
   }

.centered-text-secondsection{
    margin-top: 4%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}


.image-container-home {
    display: flex; /* Alinea los elementos en una fila */
    width: 100%; /* Ajusta el ancho según sea necesario */
    margin-left: 5%;
    margin-top: 2%;
}

.image-container {
    width: 30%; /* Ajusta el ancho según sea necesario */
    margin: 10px; /* Espaciado entre las imágenes */
}

.background-image {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
}
  
  .color-box {
    position: absolute; /* Permite posicionar los cuadros en relación al contenedor */
    width: 100px; /* Ancho del cuadro */
    height: 100px; /* Alto del cuadro */
    opacity: 0.7; /* Opacidad para ver la imagen de fondo */
  }
  
  .sobreposition {
    background-color: #103056BF;
    margin-top: 32%;
    margin-left: 8%;
    padding-left: 84%;
    padding-bottom: 30%;
    border-radius: 8%;
  }

  .box-sobreposition{
    background: #103056BF;
    padding-left: 10%;
    margin-left: 2%;
    width: 96%;
    border-radius: 7%;
  }

  .text-sobreposition{
    font-family: Montserrat;
    font-weight: 100;
    font-size: 7px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
    color: whitesmoke;
    text-transform: lowercase;
    margin-top: 4%;
  }

  .main-container-green {
    display: flex;
    background-color: #47E6C4;
    padding: 1%;
    border-radius: 2%;
    width: 100%;
    margin-left: 6%;
    margin-bottom: 4%;
    max-width: 88%;
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-bottom: 4%;
}


.main-container-white {
    display: flex;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 2%;
    width: 100%;
    margin-left: 6%;
    max-width: 88%;
    margin-top: 5%;
    flex-direction: row;
    padding-left: 2%;
    padding-bottom: 4%;
}

.text-container-one {
    display: flex    ;
    flex-direction: column;
    padding: 2% 15%;
    width: 40%;
    padding-left: 2%;
    margin-left: 6%;
    background-color: #47E6C4;
    border-radius: 4px;
    border: 2px solid #103056;
  }

  .text-container-two {
    display: flex;
    flex-direction: column;
    margin: 0 7%;
    background-color: #47E6C4;
    border-radius: 4px;
    border: 2px solid #103056;
    padding: 2% 15%;
    width: 40%;
    padding-left: 2%;
  }

  .parrafobrcontainergreen{
    margin-top: 2%; 
    text-align: center;
    margin-bottom: 3%; /* Espacio entre el título y los contenedores */
    width: 100%;
  }

  .parrafobrcontainerwhite{
      margin-top: 2%; 
      margin-bottom: 3%; /* Espacio entre el título y los contenedores */
      width: 100%;
    }
    
    .parrafobrcontainerwhitetwo{
        margin-top: 2%; 
        margin-bottom: 3%; /* Espacio entre el título y los contenedores */
        width: 100%;
    }
    
  .img-fluid-icongreen{
    width: 25%;
    padding-bottom: 3%;
    }

    .img-logo-white{
        filter: brightness(0) invert(1); /* Cambia el logo a blanco */

    }
  
  .background-image-rejas {
    background-color: #103056;
    width: 100%;
    height: 100%;
    margin-top: 6%;
  }


  .navbar {
    position: relative; /* Permite posicionar elementos hijos */
}

  .nav-image {
    position: relative; /* Necesario para el posicionamiento del texto */
}

  .nav-image img {
    width: 100%; /* Imagen ocupa el ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
}

  .nav-text {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la legibilidad */
}
  
  .background-image-civil {
    width: 60%;
    border-radius: 8%;
    margin-left: 5%;
  }
  
  .parrafosectioncivil{
    margin-left: 5%;
    }

    .containericonocivil1,containericonocivil2,containericonocivil3 {
        padding: 20px;
        border: 1px solid #ccc; /* Borde para los contenedores */
        margin-bottom: 20px; /* Espacio inferior para los contenedores */
    }

    .separador {
        border: none; /* Elimina el borde predeterminado */
        height: 2px; /* Altura de la línea */
        background-color: #333; /* Color de la línea */
        margin: 20px 0; /* Espacio superior e inferior de la línea */
    }

  .background-image-estudiante{
    width: 30%;
      }

  .form-group{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    font-variant: small-caps;
  }

  .footer{
    background-color: #103056;
    height: 100%;
  }

  .img-logo-white{
    padding-bottom: 4%;
  }

  .letrawhitefooter{
    color: #E5E5E5;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

  }

  .mayus{
    text-transform: uppercase;
  }

  .letrablackfooter{
    color: #000500;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-left: 6%;
  }

  .letrablue{
    color: #103056;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  /* para colocar el texto se utiliza la clase text-uppercase */